body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;}
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;}

 nav li {
    display: inline-block;
    background-color: aqua;
    border-radius: 25px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    margin: 20px;    
    width: 20%;}
 

img{width:24%;
padding: 10px;
border: dashed green;
box-sizing: border-box;}

p{text-align: center;
font-size: medium;
color: brown;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}